nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #b8b8b8;
}
img {
    width: 80px;
    height: auto;
    cursor: pointer;
}


#user-list {
    display: block; /* Cambiar a block para que se muestre correctamente */
    background-color: #ffffff;
    border: 1px solid #ddd;
    padding: 10px;
    position: absolute;
    top: 60px;
    right: 10px;
    width: 300px;
    z-index: 1000;
}

